*{
    padding:0;
    margin: 0;
}

#logo-navbar-img{
    top:-20px;
    position: relative;
}

#container-fluid-navbar{
    margin-bottom: 0;
}

.feedback-error{
    color: #ff0000;
    font-size: large;
}

.feedback-success{
    color: #00FF00;
    font-size: large;
}

.navbar-welkom-text{
    color: #FFFFFF;
}

body{
    background-image: url("../images/grey_wash_wall/grey_wash_wall/grey_wash_wall.png");
    background-repeat: repeat;
}